<!-- Button trigger modal -->
<div class="mt-4">
  <h5>Atendimentos</h5>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">+</button>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Atendimentos Disponiveis para o dia 22/11/2017</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let atendimento of atendimentos$ | async">
          <div (click)="agruparAtendimentosPorRegiaoEServico(atendimento)">
            <p>{{ atendimento?.cliente?.nome_razao_social }}
              <br>
              <small>{{ atendimento?.cliente?.cnpj_cpf }}</small>
              <br>
              <small>
                <strong>
                  <label>Problema:</label>
                </strong> {{ atendimento?.modelo_equipamento }} - {{ atendimento?.descricao }}</small>
              <br>
              <small>
                <strong>
                  <label>Endereço: </label>
                  {{ atendimento?.endereco?.cep }} {{ atendimento?.endereco?.rua }} {{ atendimento?.endereco?.bairro }} {{ atendimento?.endereco?.cidade
                  }} {{ atendimento?.endereco?.Uf }}
                </strong>
              </small>
            </p>
            <hr>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="AtendimentosAgrupados()" data-dismiss="modal">Agrupar</button>
      </div>
    </div>
  </div>
</div>
<hr>
<br>

<!-- Card dos grupos de atendimentos -->
<div class="row">
      <div class="card col-6 mt-4" *ngFor="let atendimentosAgrupado of atendimentosSeparadosEAgrupado; let i = index">
          <div class="card-body">
           <div class="row">
             <div class="col-6">
                <h4 class="card-title">Grupo {{ i + 1}}</h4>
             </div>
             <div class="col-6">
                <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target=".bd-example-modal-sm"
                 (click)="associartecnico(atendimentosAgrupado?.grupo)">Associar Técnico</button>
             </div>
           </div>
            <h5 class="card-subtitle mb-2 text-muted">Tecnico: {{  atendimentosAgrupado?.grupo[0]?.tecnico?.nome || ''}} | Quantidade: {{ atendimentosAgrupado?.grupo.length }}</h5>
            <hr>
            <div class="card-text" *ngFor="let atendimentoSeparado of atendimentosAgrupado?.grupo">
              <p class="dotted"><a (click)="removerAtendimento(atendimentoSeparado)"><i class="fa fa-times" aria-hidden="true"></i></a> {{ atendimentoSeparado?.cliente?.nome_razao_social }}  <i class="fa fa-info-circle" aria-hidden="true"></i> <br>
                <small>
                    <strong>
                      <label>Endereço: </label>
                      {{ atendimentoSeparado?.endereco?.cep }} {{ atendimentoSeparado?.endereco?.rua }} {{ atendimentoSeparado?.endereco?.bairro }} {{ atendimentoSeparado?.endereco?.cidade
                      }} {{ atendimentoSeparado?.endereco?.Uf }}
                    </strong>
                  </small></p>
            </div>
          </div>
        </div>
</div>


<!-- modal para associar técnico -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Selecione o Técnico para Associar os Atendimentos!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div *ngFor="let tecnico of tecnicos"><h5 (click)="selecionaTecnico(tecnico)">{{ tecnico }}</h5></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" (click)="salvarAssociacaoAoTecnico()" data-dismiss="modal">Associar</button>
            </div>
          </div>
    </div>
  </div>

<script>
  $('#exampleModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
  })
</script>
