<h4>Criar Agenda</h4>
<div class="row">
  <div class="col-5">
    <div class="panel panel-success">
      <div class="panel-heading">Atendimentos</div>
      <div class="panel-body">
        <div class="panel panel-default" >
          <div class="panel-body">
            <div class="card card-title p-2" *ngFor="let atd of atendimentos" dnd-draggable [dragEnabled]="true" [dragData]="atd" >Empresa: {{ atd.cliente.nome_razao_social }} - Técnico: {{ atd.tecnico.nome }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-7">
    <div class="card mt-2 card-title p-2" dnd-droppable (onDropSuccess)="associarTecnico($event, tecnico)" *ngFor="let tecnico of tecnicos">
      {{ tecnico.name }}
      <div class="card-body">
        <div *ngFor="let atendimento of tecnico.atd">{{ atendimento.cliente.nome_razao_social }}</div>
      </div>
    </div>
  </div>
</div>
